.single{
    animation: jump 0.7s;
}

@keyframes jump{
    25%{
        transform: scale(1.1, 0.7);
    }
    50%{
        transform: scale(0.9, 1.0);
    }
    75%{
        transform: scale(1, 0.4);
    }
    85%{
        transform: scale(1.1, 0.8);
    }
}


